# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [3]:
#Creating df's for each type of city
urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]
rural_cities_df.head()

,city,date,fare,ride_id,driver_count,type
2250,Randallchester,2019-04-13 11:13:31,43.22,1076079536213,9,Rural
2251,North Holly,2019-02-02 14:54:00,12.42,1985256326182,8,Rural
2252,Michaelberg,2019-03-27 18:27:34,54.85,4421836952718,6,Rural
2253,Lake Latoyabury,2019-02-23 21:12:24,47.90,3269652929887,2,Rural
2254,Lake Latoyabury,2019-05-06 08:57:56,51.80,4018025271936,2,Rural

In [4]:
#  1. Get the total rides for each city type
urban_ride_count = urban_cities_df.groupby(["city"]).count()["ride_id"]
suburban_ride_count = suburban_cities_df.groupby(["city"]).count()["ride_id"]
rural_ride_count = rural_cities_df.groupby(["city"]).count()["ride_id"]
rural_ride_count.head()

city
Bradshawfurt      10
Garzaport          3
Harringtonfort     6
Jessicaport        6
Lake Jamie         6
Name: ride_id, dtype: int64

In [5]:
# 2. Get the total drivers for each city type
urban_driver_count = urban_cities_df.groupby(["city"]).sum()["driver_count"]
suburban_driver_count = suburban_cities_df.groupby(["city"]).sum()["driver_count"]
rural_driver_count = rural_cities_df.groupby(["city"]).sum()["driver_count"]
rural_driver_count.count()

18

In [6]:
#  3. Get the total amount of fares for each city type
urban_fare_count = urban_cities_df.groupby(["city"]).sum()["fare"]
suburban_fare_count = suburban_cities_df.groupby(["city"]).sum()["fare"]
rural_fare_count = rural_cities_df.groupby(["city"]).sum()["fare"]
rural_fare_count.head()

city
Bradshawfurt      400.64
Garzaport          72.37
Harringtonfort    200.82
Jessicaport       216.08
Lake Jamie        206.15
Name: fare, dtype: float64

In [7]:
#  4. Get the average fare per ride for each city type. 
urban_average_fare_per_ride = urban_fare_count / urban_ride_count
suburban_average_fare_per_ride = suburban_fare_count / suburban_ride_count
rural_average_fare_per_ride = rural_fare_count / rural_ride_count
rural_average_fare_per_ride.head()

city
Bradshawfurt      40.064000
Garzaport         24.123333
Harringtonfort    33.470000
Jessicaport       36.013333
Lake Jamie        34.358333
dtype: float64

In [8]:
# 5. Get the average fare per driver for each city type. 
urban_average_fare_per_driver = urban_fare_count / urban_driver_count
suburban_average_fare_per_driver = suburban_fare_count / suburban_driver_count
rural_average_fare_per_driver = rural_fare_count / rural_driver_count
rural_average_fare_per_driver.head()

city
Bradshawfurt       5.723429
Garzaport          3.446190
Harringtonfort     8.367500
Jessicaport       36.013333
Lake Jamie         8.589583
dtype: float64

In [9]:
#Defining pyber sumary data
type_ = ['Rural', 'Suburban', 'Urban']
total_rides = [rural_ride_count.sum(), suburban_ride_count.sum(), urban_ride_count.sum()]
total_drivers = [rural_driver_count.sum(), suburban_driver_count.sum(), urban_driver_count.sum()]
total_fares = [rural_fare_count.sum(), suburban_fare_count.sum(), urban_fare_count.sum()]
average_fare_per_ride = [rural_average_fare_per_ride.sum(), suburban_average_fare_per_ride.sum(), urban_average_fare_per_ride.sum()]
average_fare_per_driver = [rural_average_fare_per_driver.sum(), suburban_average_fare_per_driver.sum(), urban_average_fare_per_driver.sum()]

In [10]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_df = pd.DataFrame(list(zip(total_rides, total_drivers, total_fares, average_fare_per_ride,average_fare_per_driver)), index = ['Rural', 'Suburban', 'Urban'],
               columns =["Total Rides", "Total Drivers", "Total Fares", "Average Fare per Ride", "Average Fare per Driver"]) 
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Rural,125,537,4327.93,623.479771,285.820081
Suburban,625,8570,19356.33,1106.542729,185.447801
Urban,1625,59602,39854.38,1616.942033,80.298267

In [11]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [12]:
#  8. Format the columns.
pyber_summary_df["Total Rides"] = pyber_summary_df["Total Rides"].map("{:.0f}".format)

pyber_summary_df["Total Drivers"] = pyber_summary_df["Total Drivers"].map("{:.0f}".format)

pyber_summary_df["Total Fares"] = pyber_summary_df["Total Fares"].map("{:.2f}".format)

pyber_summary_df["Average Fare per Ride"] = pyber_summary_df["Average Fare per Ride"].map("${:.2f}".format)

pyber_summary_df["Average Fare per Driver"] = pyber_summary_df["Average Fare per Driver"].map("${:.2f}".format)
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Rural,125,537,4327.93,$623.48,$285.82
Suburban,625,8570,19356.33,$1106.54,$185.45
Urban,1625,59602,39854.38,$1616.94,$80.30

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [13]:
# 9. Using groupby() on the pyber_data_df to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.
total_fare_by_dt_df = pyber_data_df.groupby(["type","date"])["fare"].sum()
total_fare_by_dt_df.head()

type   date
Rural  2019-01-01 09:45:36    43.69
       2019-01-02 11:18:32    52.12
       2019-01-03 19:51:01    19.90
       2019-01-04 03:31:26    24.88
       2019-01-06 07:38:40    47.33
Name: fare, dtype: float64

In [14]:
# 10. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
total_fare_by_dt_df = total_fare_by_dt_df.reset_index()

In [15]:
# 11. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date. 
total_fare_by_dt_df.pivot(index="date", columns="type", values="fare").tail(175)

type                 Rural  Suburban  Urban
date
2019-04-29 02:04:02    NaN     31.59    NaN
2019-04-29 02:49:02    NaN       NaN  41.27
2019-04-29 06:08:03    NaN     17.99    NaN
2019-04-29 06:57:26    NaN       NaN  23.99
2019-04-29 07:09:31    NaN     34.77    NaN
...                    ...       ...    ...
2019-05-08 04:20:00    NaN       NaN  21.99
2019-05-08 04:39:49    NaN       NaN  18.45
2019-05-08 07:29:01    NaN       NaN  18.55
2019-05-08 11:38:35    NaN       NaN  19.77
2019-05-08 13:10:18    NaN       NaN  18.04

[175 rows x 3 columns]

In [16]:
# 12. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2018-01-01':'2018-04-29'.
#what I tried before
#total_fare_by_dt_df.loc[(total_fare_by_dt_df.date == '2019-01') & (total_fare_by_dt_df.date == '2019-03')& (total_fare_by_dt_df.date == '2019-02')&(total_fare_by_dt_df.date == '2019-04')]
#total_fare_by_dt_df
#00:08:16':'2019-04-29 07:09:31'



#total_fare_by_dt_df = pd.DataFrame(list(range(365)))

#total_fare_by_dt_df['date'] = pd.date_range('2019-01-01', periods=365, freq='D').astype(str)
#total_fare_by_dt_df = total_fare_by_dt_df.set_index('date')

#total_fare_by_dt_df.index = pd.to_datetime(total_fare_by_dt_df.index)

#res = total_fare_by_dt_df[pd.Timestamp('2019-01-01'):pd.Timestamp('2019-04-29')]
#res

In [17]:
# 12. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2018-01-01':'2018-04-29'.
date_range = pd.date_range('2019-01-01', '2019-04-29')
date_range

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10',
               ...
               '2019-04-20', '2019-04-21', '2019-04-22', '2019-04-23',
               '2019-04-24', '2019-04-25', '2019-04-26', '2019-04-27',
               '2019-04-28', '2019-04-29'],
              dtype='datetime64[ns]', length=119, freq='D')

In [18]:
total_fare_by_dt_df.loc[total_fare_by_dt_df.date == date_range]

ValueError: Lengths must match to compare

In [ ]:
# 13. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
total_fare_by_dt_df.index = pd.to_datetime(total_fare_by_dt_df.index)

In [ ]:
# 14. Check that the datatype for the index is datetime using df.info()
total_fare_by_dt_df.info()

In [ ]:
# 15. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.
total_fare_by_dt_week = total_fare_by_dt_df.resample("W").sum()
total_fare_by_dt_week.head()

In [ ]:
# 16. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 
total_fare_by_dt_week.plot()
plt.title("Total Fare by City Type")
plt.ylabel("Fare ($USD)")
plt.grid(True)
# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')
plt.savefig("analysis/Fig8.png")